* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.App{
  text-align: center;
  padding: 10px;
}
.body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.imgslider {
  width: 60%;
  height: 600px;
  background-image: url("Icon/pic3.jpg");
  background-size: 100% 100%;
  animation: changeImage 20% linear infinite;
}
@keyframes changeImage {
  0% {
    background-image: url("Icon/pic4.jpg");
  }
  25% {
    background-image: url("Icon/pic3.jpg");
  }
  50% {
    background-image: url("Icon/pic6.jpg");
  }
  75% {
    background-image: url("Icon/pic4.jpg");
  }
  100% {
    background-image: url("Icon/pic7.jpg");
  }
}

.inputBox {
}
/* #toggle {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
 background-image: url();
  background-size: cover;
  cursor: pointer;
} */
 .typo{
  /* background: "linear-gradient(180deg,#051817,#11c0f5)"; */
  background-color: rgb(158, 210, 210);
  font-style: initial;
  border-radius:"5px";
  color: "white";
  margin: "4px";
  padding: "5px";
 }

 .scrolling-box {
  background-color: #932424;
  display: block;
  width: 800px;
  height: 260px;
  padding: 1em;
  overflow-y: scroll;
  text-align: center;
}