
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css');




.scroller {position:relative; touch-action:pan-x;}
.scroller-content {height:100%; overflow:scroll; overflow:-moz-scrollbars-none; -ms-overflow-style:none; -webkit-overflow-scrolling:touch;}
.scroller-content::-webkit-scrollbar {display:none;}
.scrollbar {position:absolute; top:0; right:0; background:#888; width:4px; opacity:0; border-radius:2px; transition:opacity .2s;}
.scroller:hover .scrollbar, .scroller.active .scrollbar {opacity:1;}










