
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
 
}
.body1{
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.body{
  width: 100%;
  height: 100vh;
  display:grid;
  place-items: center;
}.imgslider{
width: 60%;
height: 600px;
background-image: url("Icon/pic3.jpg");
background-size: 100% 100%;
animation: changeImage 20% linear infinite;

}
@keyframes changeImage{
  0%{
    background-image: url("Icon/pic4.jpg");
  }
  25%{
    background-image: url("Icon/pic3.jpg");
  }
  50%{
    background-image: url("Icon/pic6.jpg");
  }
  75%{
    background-image: url("Icon/pic4.jpg");
  }
  100%{
    background-image: url("Icon/pic7.jpg");
  }
}





